.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;

}
.new-collection h1{
    color: #171717;
    font-size: 30px;
    font-size: 600;
    margin-bottom: 0;
    margin-top: 30px;
}
.new-collection hr{
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff4141, pink);
    margin: 0;
    opacity: 1;

}
.collection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 30px;
}
